#include "winuser.h"
#define VERSION_FULL "1.2.0.1"
#define VERSION_MAJOR 1
#define VERSION_MINOR 2
#define VERSION_PATCH 0
#define VERSION_BUILD 1

1 VERSIONINFO
FILEVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,VERSION_BUILD
PRODUCTVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,VERSION_BUILD
FILEOS 0x40004
FILETYPE 0x1
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904b0"
		{
			VALUE "CompanyName", "ilvoron"
			VALUE "FileDescription", "Console snake game for windows"
			VALUE "FileVersion", VERSION_FULL
			VALUE "InternalName", "ilvoron.SnakeGameC"
			VALUE "LegalCopyright", "https://github.com/ilvoron/SnakeGameC"
			VALUE "OriginalFilename", "snake.exe"
			VALUE "ProductName", "Snake Game"
			VALUE "ProductVersion", VERSION_FULL
		}
	}

	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x409, 1200
	}
}

EXE_ICON ICON "snake.ico"